html,
body {
    height: calc(100vh - 96.8px - 80px);
}

.logo {
    height: clamp(32px, 2.5vw, 64px);
}

.logo-small {
    height: 32px;
}

.nav-link {
    text-transform: capitalize;
}

#registro > * {
    text-transform: capitalize;
}

main#login {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
