@font-face {
    font-family: sourceBold;
    src: url('../fonts/ssp/SourceSansPro-Bold.ttf');
}

@font-face {
    font-family: sourceRegular;
    src: url('../fonts/ssp/SourceSansPro-Regular.ttf');
}

.border-15{
    border: 15px solid #EDEDED;
}

.border-14{
    border: 14px solid #EDEDED;
}

.sansbold{
    font-family: sourceBold;
}

.sansRegular{
    font-family: sourceRegular;
}

.outline-0{
    outline: none;
}

.text-color-gray{
    color: #333;
}

.h-42{
    height: 42px;
}

.ht-48{
    height: 48px;
}


/* BLOQUES */

.nav-turnos{
    z-index: 10;
}

.section-title{
    background: rgba(241, 241, 241, 0.5);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    color: #585858;
}

.section-title h2::first-letter{
    color: #0D6EFD;
}

.input__form{
    height: 50px;
    border: 1px solid #B1B1B1;
}

.input__form:hover{
    border: 1px solid #000;
}

.input-icon{
    height: 48px;
    width: 50px;
    min-width: 50px;
    background-color: #0D6EFD;
}

fieldset{
    color: #333;
}
